html, body{
    background-color: #4c5965;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

.inline-link{
    color: navajowhite;
}

body{
    margin-bottom:10px;
}

.panel-body, .panel{
    background-color: transparent !important;
}

.panel-button{
    width:100%;
    display: inline-block;
}
.panel-title{
    text-decoration: none;
}
a.panel-button:hover{
    text-decoration: none;
}

.headertext {
    color: whitesmoke;
}

.navbar.center .navbar-collapse {
    text-align: center;
}
.navbar.center .navbar-collapse .nav {
    float: none;
    display: inline-block;
}

.navbar.center .text{
    display: none;
}

.navbar.center .navbar-collapse .text{
    display: inline-block;
    color: lightslategray;
}

.maintext {
    text-align: justify;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.blogheader{
    text-align: center;
    color: whitesmoke;
}

.dropdown-menu .center {
    text-align: center;
    float: none;
}

.horizontal{
    margin: 0;
    padding: 0;
}

.horizontal li{
    display: inline-block;
    text-align: center;
    float: none;
}